# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.suo


# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Intermediate
Saved

OpenTournament.VC.db
Saved/
DerivedDataCache/
Binaries/
Intermediate/
Build/
.vs/
OpenTournament\.sln
Source/LastSaved
Config/DefaultEditorPerProjectUserSettings.ini

# Remove Source Files Installed from Asset Packs
SourceFiles/InPlace
SourceFiles/RootMotion

# Remove UE4 Asset Packs
AutomotiveMaterials.png
ParticleToolkitVol1.png
FootstepsSoundV2.png
MissionNotificationSys.png
Content/SciFiWeapDark/FX/Textures/T_Plasma_B_01.uasset
Content/SciFiWeapDark/FX/Textures/T_Explosion_Heat_A_01.uasset
Content/SciFiWeapDark/FX/Textures/T_Explosion_Density_A_01.uasset
Content/FirstPerson/*
Content/StarterContent/*

#Exclude All Base Level Content Except OpenTournament Directory
!Content/OpenTournament

Source/OpenTournament/FP_FirstPerson/FP_FirstPersonHUD.cpp
Source/OpenTournament/FP_FirstPerson/FP_FirstPersonGameMode.h
Source/OpenTournament/FP_FirstPerson/FP_FirstPersonCharacter.cpp
Source/OpenTournament/FP_FirstPerson/FP_FirstPersonHUD.h
Source/OpenTournament/FP_FirstPerson/FP_FirstPersonGameMode.cpp
Source/OpenTournament/FP_FirstPerson/FP_FirstPerson.h
Source/OpenTournament/FP_FirstPerson/FP_FirstPersonCharacter.h
Content/FirstPersonCPP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonCPP/Maps/DM-DeckScale.umap
Content/FirstPersonCPP/Blueprints/FirstPersonCharacter.uasset
